name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    
    
jobs:
    build:
      runs-on: ubuntu-latest

      services:
        mysql:
          image: mysql:latest
          env:
            MYSQL_ROOT_PASSWORD: ${{ secrets.RootPassword }}
            MYSQL_DATABASE: cjadb
            MYSQL_USER: ${{ secrets.DatabaseId }}
            MYSQL_PASSWORD: ${{ secrets.DatabasePassword }}
          ports:
            - 3306:3306

      steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
            java-version: '17'
            distribution: 'temurin'
      - name: make connection-config.properties
        run: |
          mkdir -p ./src/main/resources/config
          touch ./src/main/resources/config/connection-config.properties
          ls -al
          pwd
          echo "${{ secrets.CONNECTION }}" > ./src/main/resources/config/connection-config.properties
          mkdir -p ./src/test/resources/config
          touch ./src/test/resources/config/connection-config.properties
          ls -al
          pwd
          echo "${{ secrets.CONNECTION }}" > ./src/test/resources/config/connection-config.properties
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build With Gradle
        run: ./gradlew build -x test
      - name: Run tests
        run: ./gradlew --scan test
